# <center>Assignment

Download the file `athlete_events.csv` The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
# Change the path to the dataset file if needed. 
PATH = 'athlete events.csv'

In [3]:
data = pd.read_csv(PATH)
data.head(100)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,32,Olav Augunson Aarnes,M,23.0,NaN,NaN,Norway,NOR,1912 Summer,1912,Summer,Stockholm,Athletics,Athletics Men's High Jump,NaN
96,33,Mika Lauri Aarnikka,M,24.0,187.0,76.0,Finland,FIN,1992 Summer,1992,Summer,Barcelona,Sailing,Sailing Men's Two Person Dinghy,NaN
97,33,Mika Lauri Aarnikka,M,28.0,187.0,76.0,Finland,FIN,1996 Summer,1996,Summer,Atlanta,Sailing,Sailing Men's Two Person Dinghy,NaN
98,34,Jamale (Djamel-) Aarrass (Ahrass-),M,30.0,187.0,76.0,France,FRA,2012 Summer,2012,Summer,London,Athletics,"Athletics Men's 1,500 metres",NaN
99,35,Dagfinn Sverre Aarskog,M,24.0,190.0,98.0,Norway,NOR,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN

__1. How old were the youngest male and female participants of the 1988 Olympics?__

In [30]:
youngest_data = data[data['Games'].str.startswith('1988')].groupby('Sex')['Age'].min()


print(f'Youngest participants of the 1988 Olympics:\n{youngest_data.index[0]}: {youngest_data.values[0]} years\n{youngest_data.index[1]}: {youngest_data.values[1]} years')

Youngest participants of the 1988 Olympics:
F: 11.0 years
M: 12.0 years

__2. What was the percentage of female basketball players among all the female participants of the 2012 Olympics? Round the answer to the first decimal.__

*Hint:* drop duplicate athletes where necessary to count each athlete just once. This applies to other questions too.

In [5]:
all_female_paricipants = data[(data['Games'].str.startswith('2012')) & (data['Sex'] == 'F')].drop_duplicates('Name') #all distinct female participants of the 2012 Olympics
basketball_female_participants = all_female_paricipants[all_female_paricipants['Sport'] == 'Basketball'] #basketball distinct female participants of the 2012 Olympics

percentage = round(basketball_female_participants.shape[0] / all_female_paricipants.shape[0] * 100, 2)

print(f'The percentage of female basketball players among all the female participants of the 2012 Olympics: {percentage}%')

The percentage of female basketball players among all the female participants of the 2012 Olympics: 3.08%

__3. What are the mean and max of height for female tennis players who participated in the 1988 Olympics? Round the answer to the first decimal.__

In [6]:
height_data = data[(data['Sex'] == 'F') & (data['Games'].str.startswith('1988')) & (data['Sport'] == 'Tennis')]['Height']

print(f'Mean and max of height for female tennis players who participated in the 1988 Olympics: \nMax height: {height_data.max()}\nMean height: {round(height_data.mean(), 1)}')

Mean and max of height for female tennis players who participated in the 1988 Olympics:
Max height: 190.0
Mean height: 171.7

__4. Find the heaviest athlete among 1988 Olympics participants. What sport did he or she do?__

In [7]:
needed_olympics_data = data[data['Games'].str.startswith('1988')].drop_duplicates('Name')

needed_olympics_data[['Name', 'Sport', 'Weight']].nlargest(1, ['Weight'])

              Name          Sport  Weight
270643  Ji Zubrick  Weightlifting   161.0

__5. How many times did John Aalberg participate in the Olympics held in different years?__

In [29]:
output = data[data['Name'] == 'John Aalberg'].groupby(data['Year'])['Event'].count()

print(f'John Aalberg participate in the Olympics held in different years: \n{output.index[0]}: {output.values[0]} times\n{output.index[1]}: {output.values[1]} times')

John Aalberg participate in the Olympics held in different years:
1992: 4 times
1994: 4 times

__6. How many events did John Aalberg participate in during the Olympics held in Albertville?__

In [9]:
ja_alb_cnt_event = data[(data['Name'] == 'John Aalberg') & (data['City'] == 'Albertville')]['Event'].count()

print(f'John Aalberg participate in during the Olympics held in Albertville at {ja_alb_cnt_event} events ')

John Aalberg participate in during the Olympics held in Albertville at 4 events

__7. How many gold medals in tennis did the Belarus team win at the 2012 Olympics?__

In [10]:
olympics_2012_data = data[(data['Games'].str.startswith('2012')) & (data['Sport'] == 'Tennis')]

bel_2012_gold_cnt_tennis = olympics_2012_data[(olympics_2012_data['Team'] == 'Belarus') & (olympics_2012_data['Medal'] == 'Gold')]['Medal'].count()

print(f'Belarus team won {bel_2012_gold_cnt_tennis} gold medals in tennis at the 2012 Olympics')

Belarus team won 2 gold medals in tennis at the 2012 Olympics

__8. Is it true that Spain won fewer medals than Italy at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__

In [11]:
olympics_2016_data = data[(data['Games'].str.startswith('2016'))]

result = (olympics_2016_data[olympics_2016_data['Team'].str.startswith('Spain')]['Medal'].count()) < (olympics_2016_data[olympics_2016_data['Team'].str.startswith('Italy')]['Medal'].count())

print(f'Spain won fewer medals than Italy at the 2016 Olympics: {result}')

Spain won fewer medals than Italy at the 2016 Olympics: True

__9. What is the absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics?__

In [12]:
result = abs(data[data['Games'].str.startswith('1988')].drop_duplicates('Sport')['Sport'].count() - data[data['Games'].str.startswith('2002')]['Sport'].nunique())

print(f'Absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics is {result}')

Absolute difference between the number of unique sports at the 1988 Olympics and 2002 Olympics is 22

__10. Who won the highest number of medals overall?__
    
*Hint*: country

In [13]:
result = data.groupby('Team')['Medal'].count().idxmax()

print(f'The {result} team won the most medals overall')

The United States team won the most medals overall